.elevation-0 {
  filter: drop-shadow(0 0 #0000);
}
.elevation-1 {
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}
.elevation-2 {
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}
.elevation-3 {
  filter: drop-shadow(0 6px 8px rgb(0 0 0 / 0.04))
}
.elevation-4 {
  filter: drop-shadow(0 8px 8px rgb(0 0 0 / 0.04))
}
.elevation-5 {
  filter: drop-shadow(0 12px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
.elevation-6 {
  filter: drop-shadow(0 12px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
